<?php

declare(strict_types=1);

return [
    'authentication' => [
        'pdo' => [
            'dsn'      => 'mysql:host=localhost;dbname=test_dbname',
            'username' => 'root',
            'password' => 'password',
        ], 
    ]
];
