<?php

declare(strict_types=1);

use League\OAuth2\Server\Grant;

return [
    'authentication' => [
        'pdo' => [
            'dsn'      => 'mysql:host=localhost;dbname=test_dbname',
            'username' => 'root',
            'password' => 'password',
            'table' => 'user_table',
            'field' => [
                'identity' => 'username_field',
                'password' => 'password_field',
            ],
        ], 
    ]
];
